// 這份文件設定的是整個網站都可以使用的色彩

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ededed !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$gray-950: #161616 !default;
$black: #000 !default;

$primary-100: #edf7f1 !default;
$primary-500: #00E09B !default;
$primary-900: #012819 !default;

$secondary-100: #EDF7F1 !default;
$secondary-800: #535554 !default;

$orange-100: #F9F3EE !default;
$orange-200: #fcd8be !default;
$orange-500: #ffa255 !default;
$orange-800: #562805 !default;

$yellow-200: #f7e9b0 !default;
$yellow-500: #e5c22e !default;
$yellow-800: #3a2f00 !default;

$lime-200: #efefaf !default;
$lime-500: #d7e82d !default;
$lime-800: #4f4f00 !default;

$green-200: #d9f4ba !default;
$green-500: #93cc58 !default;  
$green-800: #213a00 !default; 

$cyan-200: #c7f8f9 !default;
$cyan-500: #6fd5d8 !default;
$cyan-800: #024247 !default;

$purple-200: #e4d2f9 !default;
$purple-500: #a587dd !default;
$purple-800: #1d013d !default;